body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    justify-content: center;
    width: 80%;
    margin:40px;
}

.buttonSide{
    grid-column: 1/3;
    grid-row: 1/2;
}
.tabSide{
    grid-column: 1/3;
    grid-row: 2/6;
}
.logSide{
    grid-column: 2/3;
    grid-row: 2/6;
}